.debug {
	border: 1px solid #900 !important;
}

.animal .head, .animal .body { 
	background-image: url(sheep1.svg); 
	background-color: transparent !important; 
	background-repeat: no-repeat !important;  
	background-size: 197% !important;  
	overflow: hidden;
	
}

.animal {
	height: 48px !important; 
	width: 71px !important; 
	
}

.animal .head {
	left: 35px !important; 
	top: 0px !important; 
	width: 42px !important;
	height: 29px !important;
	background-position-x: -46px;
}

.animal .body {
	left: -82px !important; 
	top: -35px !important; 
	width: 58px !important; 
	height: 36px !important; 
	background-position-x: -5px;
}

.animal.sheep1 .ddl   { background-image: url(sheep1.svg); }
.animal.sheep2 .ddl   { background-image: url(sheep2.svg); }
.animal.cow .ddl   { background-image: url(cow.svg); }
.animal.pig .ddl   { background-image: url(pig.svg); }

